.row-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}
.column-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}.row-password{
    display: flex;
    flex-direction: row;
    gap: 5px;
}.row-password>input{
    flex: auto;
}
small{
    font-weight: 600;
    font-family: serif;
    color:#BD5153;
}