.footer{
    background-color: #0A473F;
    border-radius: 20px;
}.about>.column{
    align-items: center;
    flex: 1
}.pay>.column{
    align-items: center;
    flex: 1
}.channels>.column{
    align-items: end;
    flex: 1
}.compact{
    margin-left: 150px;
    margin-right: 150px;
}

/*elementos*/
.channels>div>div *{
    margin-right: 10px;
}.channels>div>div>img{
    width: 20px;
    height: 20px;
}.foot-icon{
    width: 40px;
    height: 40px;
}




