<div class="footer txt-white">

    <div class="compact">
        <br>
    <div class="about row mt-3">
        <div class="column mb-3">
            <img src="../../../assets/store.svg" class="foot-icon" alt="">
            <p>Sobre Nosotros</p>
            <p class="info">SellBook S.A.S</p>
        </div>
        <div class="column mb-3">
            <img src="../../../assets/mail.svg" class="foot-icon" alt="">
            <p>Email</p>
            <p class="info">Sellbook@bussines.book.co</p>
        </div>
        <div class="column mb-3">
            <img src="../../../assets/phone.svg" class="foot-icon" alt="">
            <p>Telefono</p>
            <p class="info">Cali: (602) 382 54 21</p>
            <p class="info">Línea gratuita nacional: 01 8000 94 6000</p>
        </div>
    </div>

    <hr class="txt-white">
    <br>
    <div class="pay">
        <p>Medio de pago aceptado</p>
        <div class="column">
            <img src="../../../assets/cash.svg" class="foot-icon" alt="">
            <p>Efectivo a contraentrega</p>
        </div>
    </div>
    <br>
    <hr class="txt-white">
    <div class="channels">
        <div class="column">
            <div class="aling-self">
                <p>Siguenos en:</p>
                <img src="../../../assets/facebook.svg" alt="">
                <img src="../../../assets/youtube.svg" alt="">
                <img src="../../../assets/whatsapp.svg" alt="">
            </div>
        </div>
    </div>
    </div>

</div>