.logo{
    width: 30px;
    height: auto;
    border: solid 1px rgb(161, 161, 161);
    border-radius: 19px;
}
p-avatar{
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;

}
.home{
    cursor: pointer;
}.position-absolute{
    position: absolute;
}