<div class="nav-bar">
  <div class="nav-column">
      <a class="nav-row sellbook" routerLink="/">
        <img class="brand me-1" src="../../../assets/logo.png" alt="">
         SellBook
      </a>
  </div>
  <div class="nav-column max">
    <div class="nav-row">
      <br-search-bar placeholder="¿Buscas algo para leer?"></br-search-bar>
      <div class="row">
        <div #spandible class="spandible column">
          <div class="row">
            <button brButton (click)="onShowHideCart()">
              <img src="../../../assets/shop.svg" alt="">
            </button>
            <button brButton *ngIf="token=='null'" routerLink="registrarse">
              <img src="../../../assets/add-user.svg" alt="">
              Registrar
            </button>
            <button brButton (click)="onClickUser()">
              <img src="https://www.shawnmendesofficial.com/files/2018/04/release_201804_ShawnMendes_SM_Cover_layeredSimple.jpg" alt="">
              {{username}}
            </button>
          </div>
        </div>
        <div class="column show-spandible">
          <button brButton (click)="showHide()">
            <img #showSpandible class="imgspandible" src="../../../assets/more-unfold.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-cart></app-cart>