<div class="nav-bar">
  <div class="nav-column">
      <a class="nav-row sellbook" href="">
        <img class="brand me-1" src="../../../assets/logo.png" alt="">
         SellBook
      </a>
  </div>
  <div class="nav-column">
    <div class="nav-row">
      <form action="">
        <div class="nav-row me-1">
          <div class="inp-radio me-1" (click)="clickTitulo()">
            <input class="radio" type="radio" name="flexRadioDefault" id="titulo" [checked]="titulo">
            <label for="titulo">Titulo</label>
          </div>
          <div class="inp-radio me-1" (click)="clickAutor()">
            <input class="radio" type="radio" name="flexRadioDefault" id="autor" [checked]="autor">
            <label for="autor">Autor</label>
          </div>
          <div class="search-bar">
            <input class="inp-cyan" type="text">
            <button class="btn-cyan">Buscar</button>
          </div>
        </div>
      </form>
      <button class="btn btn-cyan btn-content me-1">
        <img class="me-1" src="../../../assets/add-user.svg" alt="">
        Registrar
      </button>
      <button class="btn btn-cyan btn-content me-1">
        <img src="../../../assets/shop.svg" alt="">
      </button>
      <img class="profile" src="../../../assets/profile.png" alt="">
    </div>
  </div>
</div>