<div class="nav-bar">
  <div class="nav-column">
      <a class="nav-row sellbook" routerLink="/">
        <img class="brand me-1" src="../../../assets/logo.png" alt="">
         SellBook
      </a>
  </div>
  <div class="nav-column">
    <div class="nav-row">
      <form [formGroup]="searchForm" (submit)="sendValues()">
          <div class="search-bar">
            <input type="text" brInputSearchBar formControlName="string" placeholder="¿Qué quieres leer?">
            <button type="submit" brButtonSearchBar>
              <img src="../../../assets/search.svg" alt="">
            </button>
          </div>
      </form>
      <button brButton>
        <img src="../../../assets/shop.svg" alt="">
      </button>
      <button brButton *ngIf="token=='null'" routerLink="registrarse">
        <img src="../../../assets/add-user.svg" alt="">
        Registrar
      </button>
      <button brButton routerLink="iniciar_session">
        <img src="https://www.shawnmendesofficial.com/files/2018/04/release_201804_ShawnMendes_SM_Cover_layeredSimple.jpg" alt="">
        {{username}}
      </button>
    </div>
  </div>
</div>