input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    box-shadow:var(--main-txt-color) 0px 0px 0px 2px;
    width: 1.4em;
    height: 1.4em;
    border-radius: 5px;
}
input[type="checkbox"]:checked{
    background-color: var(--main-txt-color);
    border: var(--main-color) solid 3px;
}
input[type="checkbox"]:checked:hover{
    background-color: var(--main-txt-color);
    border: var(--main-color) solid 3px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.checkbox:hover{
    opacity: 80%;
}
