<h1 #title>{{book.title}}</h1>
<div class="row wrap center" style="gap: 50px;">
  <div class="column">
    <div class="row imagen">
      <img class="img-book" src={{book.image}} (error)="book.image=noImage" alt="">
    </div>
  </div>
  <div class="column">
    <div class="column start">
      <h2>Autor:</h2>
      <p class="mb-2">{{book.author}}</p>
      <h2>Editorial:</h2>
      <p>{{book.editorial}}</p>
    </div>
    <div class="column end">
      <div class="row wrap-reverse" style="gap: 20px;">
        <div class="column" style="gap: 10px;">
          <div class="row">
            <div class="column">
              <h1 >Costo: ${{book.cost|number:'4.2-2'}} COP</h1>
            </div>
          </div>
          <div class="row start mb-1">
            <button brButton (click)="addToCart(book)">
              <img src="../../../assets/shop.svg" alt="">
              Añadir al carrito
            </button>
          </div>
        </div>
        <div class="column end">
          <img class="free-delivery" src="../../../assets/envio-gratis.png" alt="book_image.png">
        </div>
      </div>
      
    </div>
  </div>
</div>


<hr> 

<h1>Información completa</h1>
<div>
  <div class="fila">
    <p class="p-info me-2">ISXN:</p>
    <p>{{book.isxn}}</p>
  </div>
  <div class="fila">
    <p class="p-info me-2">Titulo:</p>
    <p>{{book.title}}</p>
  </div>
  <div class="fila">
    <p class="p-info me-2">Autor</p>
    <p>{{book.author}}</p>
  </div>
  <div class="fila">
    <p class="p-info me-2">Editorial:</p>
    <p>{{book.editorial}}</p>
  </div>
  <div class="fila">
    <p class="p-info me-2">Año publicado:</p>
    <p>{{book.publicationDate}}</p>
  </div>
  <div class="fila">
    <p class="p-info me-2">Categoria:</p>
    <p>{{book.category.name}}</p>
  </div>


</div>

<hr>
<h1>Más de {{book.author}}...</h1>

<!-- <br-mini-thumbnail
[items]="moreBooks"
scrollable="true"
redirect="/view_book"
/> -->
<div>
