<h1>Profile</h1>
<h2>Información personal</h2>
<div class="row wrap gap-2">
    <br-label-input label="* Número de Identificación:" [disabled]="true"></br-label-input>
    <br-label-input label="* Nombre:"></br-label-input>
    <br-label-input label="* Apellido:"></br-label-input>
</div>
<h2>Información de Contacto</h2>
<div class="row wrap gap-2">
    <br-label-input label="Telefono:"></br-label-input>
    <br-label-input label="* Correo Electronico:"></br-label-input>
</div>
<h2>Información Domiciliaría</h2>
<div class="row wrap gap-2">
    <br-label-input label="* Dirección Domiciliaría:"></br-label-input>
</div>
<h2>Seguridad</h2>
<div class="column gap-2">
    <div class="row">
        <br-label-input label="* Contraseña:"></br-label-input>
    </div>
    <div class="row wrap gap-2">
        <br-label-input label="Contraseña Nueva:"></br-label-input>
        <br-label-input label="Repetir Contraseña Nueva:"></br-label-input>
    </div>
</div>
<p>Minimo 8 caracteres</p>
<p>Al menos una letra mayuscula</p>
<p>Al menos una letra minuscula</p>
<p>Al menos un numero</p>