.imagen{
    width: 100px;
    margin: 5px;
    align-self: center;
    border-radius: 4px;
}
.imagen:hover{
    box-shadow: 0px 5px 5px 5px  #c0c0c0;
    
}
.info-book{
    text-align: center;
}
.centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

