<div class="fila centrar mt-3 mb-5">
  <p class="me-2">Busqueda:</p>
  <p style="font-style: italic;">{{cadena}}</p>
</div>
<div class="centro mb-5" style="margin-top: 30px;">
  <div class="card" style="width: 18rem; margin-bottom: 20px;" *ngFor="let libroDto of librosDto">
    <img src={{libroDto.image}} class="card-img-top imagen" alt="...">
    <div class="card-body">
      <h5 class="card-title info-book">{{libroDto.titulo}}</h5>
      <p class="card-text info-book">{{libroDto.costo}}</p>
      <p class="card-text info-book">{{libroDto.autor}}</p>
      <div class="centrar">
        <button class="btn btn-primary centrar">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket me-2"
            viewBox="0 0 16 16">
            <path
              d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5" />
          </svg>
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-warning mb-5" role="alert" [hidden]="conLibros">
  No se han encontrado libros relacionados con los filtros
</div>
