<div class="flex flex-col items-center gap-6 p-8">
    <img class="w-64 " src="/assets/logo.png" alt="sellbook">
    <div class="flex flex-col items-center gap-2">
        <h1 class="text-2xl font-semibold text-center">Desde libros de ocio hasta libros educativos, encuentra tu libro aquí en
            SellBook</h1>
        <p class="text-center">Compra tus libros favoritos en sellbook.com y recibe en la puerta de tu casa</p>
    </div>
</div>

<div class="flex gap-2 pt-8 pb-4 pl-4 pr-4">
    <i class="pi pi-clock text-2xl"></i>
    <h1 class="text-2xl font-semibold">Agregados Recientemente</h1>
</div>

<section>
    <img *ngFor="let item of booksPreview" [src]="item.image" [alt]="item.title" (error)="item.image=handleImageError()" (click)="navigate('details',{id:item.id})">
</section>

<div class="flex gap-2 pt-8 pb-4 pl-4 pr-4">
    <i class="pi pi-bookmark text-2xl"></i>
    <h1 class="text-2xl font-semibold">Categorias</h1>
</div>

<div class="flex flex-wrap gap-3 p-1 justify-center">
    <p-button *ngFor="let category of categories" [label]="category.name" variant="text" [raised]="true"
        (click)="navigate('search_results',{category:category.id})" />
</div>

<div *ngFor="let categoryBooks of categoriesBooks">
    <div class="flex gap-2 pt-8 pb-4 pl-4 pr-4">
        <h1 class="text-2xl font-semibold">{{categoryBooks.seccion}}</h1>
    </div>
    <app-data-view-scrollable [items]="categoryBooks.data" />
</div>