<div class="p-5">
    <h1 class="text-xl font-semibold p-3 mb-5">Registrate en SellBook</h1>
    <div class="flex justify-center">
        <div style="max-width: 1200px; width: 100%;">
            <form [formGroup]="signUpForm" (ngSubmit)="newUser(signUpForm)">
                <div class="flex flex-col gap-5" >
                    <div class="flex flex-wrap gap-8">
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Nombre(s) *</label>
                            <input type="text" pInputText formControlName="name" />
                            <div
                                *ngIf="signUpForm.get('name')?.invalid&&signUpForm.get('name')?.touched||signUpForm.get('name')?.dirty">
                                <small *ngIf="signUpForm.get('name')?.getError('required')">Este campo es requerido</small>
                                <small *ngIf="signUpForm.get('name')?.getError('minlength')">Debe ser mas de 3 caracteres</small>
                                <small *ngIf="signUpForm.get('name')?.getError('maxlength')">Debe ser menos de 20 caracteres</small>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Apellido(s) *</label>
                            <input type="text" pInputText formControlName="surname" />
                            <div
                                *ngIf="signUpForm.get('surname')?.invalid&&signUpForm.get('surname')?.touched||signUpForm.get('surname')?.dirty">
                                <small *ngIf="signUpForm.get('surname')?.getError('required')">Este campo es requerido</small>
                                <small *ngIf="signUpForm.get('surname')?.getError('minlength')">Debe ser mas de 3 caracteres</small>
                                <small *ngIf="signUpForm.get('surname')?.getError('maxlength')">Debe ser menos de 20
                                    caracteres</small>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-8">
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Genero *</label>
                            <p-select formControlName="gender" [options]="selectGender" optionLabel="label"
                                placeholder="Select a Gender" class="w-full md:w-56" />
                            <div *ngIf="signUpForm.get('gender')?.touched||signUpForm.get('gender')?.dirty">
                                <small
                                    *ngIf="signUpForm.get('gender')?.getError('required')||signUpForm.get('gender')?.value=='0'">Este
                                    campo es requerido</small>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="buttondisplay" class="font-bold block mb-2"> Fecha de Nacimiento </label>
                            <p-datepicker formControlName="birthdate" [showIcon]="true" inputId="buttondisplay"
                                [showOnFocus]="false" />
                            <div
                                *ngIf="signUpForm.get('birthdate')?.invalid&&signUpForm.get('birthdate')?.touched||signUpForm.get('birthdate')?.dirty">
                                <small *ngIf="signUpForm.get('birthdate')?.getError('required')">Este campo es requerido</small>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-8">
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Número de Identificación</label>
                            <input type="text" pInputText formControlName="documentNumber" />
                            <div *ngIf="signUpForm.get('id')?.invalid&&signUpForm.get('id')?.touched||signUpForm.get('id')?.dirty">
                                <small *ngIf="signUpForm.get('id')?.getError('required')">Este campo es requerido</small>
                                <small *ngIf="signUpForm.get('id')?.getError('minlength')">Debe ser mas de 5 caracteres</small>
                                <small *ngIf="signUpForm.get('id')?.getError('maxlength')">Debe ser menos de 12 caracteres</small>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Número de Celular</label>
                            <input type="text" pInputText formControlName="phone" />
                            <div
                                *ngIf="signUpForm.get('phone')?.invalid&&signUpForm.get('phone')?.touched||signUpForm.get('phone')?.dirty">
                                <small *ngIf="signUpForm.get('phone')?.getError('minlength')">Debe ser mas de 10 caracteres</small>
                                <small *ngIf="signUpForm.get('phone')?.getError('maxlength')">Debe ser menos de 15
                                    caracteres</small>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-8">
            
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Correo Electronico</label>
                            <p-inputgroup>
                                <p-inputgroup-addon>
                                    <i class="pi pi-user"></i>
                                </p-inputgroup-addon>
                                <input pInputText formControlName="mail" placeholder="example@mail.com" />
                            </p-inputgroup>
                            <div
                                *ngIf="signUpForm.get('mail')?.invalid&&signUpForm.get('mail')?.touched||signUpForm.get('mail')?.dirty">
                                <small *ngIf="signUpForm.get('mail')?.getError('required')">Este campo es requerido</small>
                                <small *ngIf="signUpForm.get('mail')?.getError('email')">El correo es invalido</small>
                                <small *ngIf="signUpForm.get('mail')?.getError('maxlength')">Debe ser menos de 32caracteres</small>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Contraseña *</label>
                            <p-inputgroup>
                                <p-inputgroup-addon>
                                    <i class="pi pi-lock"></i>
                                </p-inputgroup-addon>
                                <input pInputText formControlName="password" type="password" placeholder="******" />
                            </p-inputgroup>
                            <div
                                *ngIf="signUpForm.get('password')?.invalid&&signUpForm.get('password')?.touched||signUpForm.get('password')?.dirty">
                                <small *ngIf="signUpForm.get('password')?.getError('required')">Este campo es requerido</small>
                                <small *ngIf="signUpForm.get('password')?.getError('minlength')">Debe ser mas de 8
                                    caracteres</small>
                            </div>
                        </div>
                    </div>
                    <p-button label="Crear cuenta" />

                </div>
            </form>
        </div>
        
    </div>
</div>