<div class="{{scrollClass}}">
    <div class="card" *ngFor="let item of items">
        <div class="card-body">
            <div>
                <img class="card-img" (error)="item.image=noImage" (click)="goSearchingById(item.isxn||item.id)" src={{item.image}} alt="...">
                <h5 class="card-title">{{item.title||item.name}}</h5>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text txt-bold">${{item.cost}} COP</p>
            <P class="card-text">{{item.author||item.brand}}</P>
            <div class="card-center mb-1">
                <button type="button" brButton>
                    <img class="me-1" src="../../../assets/shop.svg" alt="">
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>
</div>