<div class="centrar mt-5 mb-5">
    <h1>Iniciar sessión en SellBook</h1>
    <p>Para iniciar sessión en SellBook <s></s>elecciona un rol y luego ingresa tus datos.</p>
</div>


<div class="fila">
    <div class="columna-1 me-5">
        <button class="btn btn-outline-primary mb-3">Usuario</button>
        <button class="btn btn-outline-primary mb-2">Administrador</button>
    </div>
    <div class="columna-4 mb-5">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingCorreo" placeholder="nombre@ejemplo.com">
            <label for="floatingCorreo">Correo Electronico</label>
        </div>

        <div class="form-floating mb-1">
            <input type="password" class="form-control centro" id="floatingContraseña" placeholder="contraseña">
            <label for="floatingContraseña">Contraseña</label>
        </div>
        <div class="columna centrar">
            <a href="" class="recuperar-contra mb-3">Recuperar Contraseña</a>
            <button class="btn btn-success">Iniciar Sessión</button>
        </div>
    </div>
</div>