<div class="center">
    <div class="txt-center mt-5 mb-5">
        <h1 class="txt-cyan">Iniciar sessión en SellBook</h1>
        <p class="txt-cyan">Para iniciar sessión en SellBook selecciona un rol y luego ingresa tus datos.</p>
    </div>
</div>



    <div class="row center">
        <div class="column-1 mt-5 me-5">
            <button class="btn btn-outline-cyan btn-content mb-3">
                <p>Usuario</p>
            </button>
            <button class="btn btn-outline-cyan btn-content">
                <p>Administrador</p>
                </button>
        </div>
        <div class="column mb-3">
                <p class="txt-cyan txt-bold">Correo Electronico</p>
                <input type="email" class="inp inp-cyan" placeholder="example@mail.com">
    
                <p class="txt-cyan txt-bold">Contraseña</p>
                <div class="row search-bar">
                    <input type={{passVisible}} class="inp-cyan" formControlName="contraseña" placeholder="Al menos 8 caracteres">
                    <button class="btn-cyan btn-content" type="button" (click)="showPass()">
                        <img src="../../../assets/showpass.svg" *ngIf="showPassImg" alt="">
                        <img src="../../../assets/hidepass.svg" *ngIf="hidePassImg" alt="">
                    </button>
                </div>

        </div>
    </div>

<div class="column txt-center mb-5">
    <a href="" class="txt-cyan txt-small mb-3">Recuperar Contraseña</a>
    <button class="btn btn-cyan btn-content">Iniciar Sessión</button>
</div>