.card-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}.card{
    border:solid var(--main-color) 3px;
    max-width: 310px;
    border-radius: 20px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
}.card-img{
    width: 100px;
    height: 150px;
    border-radius: 17px;
    margin: 15px 12px 12px 12px;
    transition: transform 0.3s ease;
}.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 150px;
}.card-title{
    color: var(--main-color);
    text-transform: uppercase;
    max-width: 220px;

}.card-text{
    color: var(--main-txt-color);
    max-width: 220px;
    font-size: small;
}.card-img:hover{
    transform: scale(1.09);
    z-index: 1;
}.scroll-cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 20px;
}

