
.column-form{
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 600px;
}
.column-1{
    display: flex;
    flex-direction: column;
}.column-1>button>p{
    width: 150px;
    text-align: center;
    
}
.login{
    max-width: 1000px;
}
.row-password{
    display: flex;
    flex-direction: row;
    gap: 5px;
}.row-password>input{
    flex: auto;
}.text-primary{
    font-weight: 600;
    font-family: serif;
    color:var(--main-txt-color);
    font-size: small;
}.text-danger{
    font-weight: 600;
    font-family: serif;
    color: var(--main-error-txt-color);
}.dialog-title{
    font-size: medium;
}.password{
    text-decoration: underline;
}






