<div class="p-5">
    <h1 class="text-xl font-semibold p-3 mb-5">Iniciar sessión en SellBook</h1>

    <div class="flex justify-center">
        <div style="max-width: 1200px; width: 100%;">
            <form [formGroup]="signInForm" (submit)="signIn()">

                <div class="flex flex-col gap-5">

                    <div class="flex flex-wrap gap-8">

                        <div class="flex flex-col gap-2 flex-1">
                            <label for="templatedisplay" class="font-bold block mb-2">Correo Electronico</label>
                            <p-inputgroup>
                                <p-inputgroup-addon>
                                    <i class="pi pi-user"></i>
                                </p-inputgroup-addon>
                                <input pInputText formControlName="mail" placeholder="example@mail.com" />
                            </p-inputgroup>
                            <div
                                *ngIf="signInForm.get('mail')?.invalid&&signInForm.get('mail')?.touched||signInForm.get('mail')?.dirty">
                                <small *ngIf="signInForm.get('mail')?.getError('required')">Este campo es
                                    requerido</small>
                                <small *ngIf="signInForm.get('mail')?.getError('email')">El correo es invalido</small>
                                <small *ngIf="signInForm.get('mail')?.getError('maxlength')">Debe ser menos de
                                    32caracteres</small>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-8">

                        <div class="flex flex-col gap-2 flex-1">


                            <label for="templatedisplay" class="font-bold block mb-2">Contraseña *</label>
                            <p-inputgroup>
                                <p-inputgroup-addon>
                                    <i class="pi pi-lock"></i>
                                </p-inputgroup-addon>
                                <input pInputText formControlName="password" type="password" placeholder="******" />
                            </p-inputgroup>
                            <div
                                *ngIf="signInForm.get('password')?.invalid&&signInForm.get('password')?.touched||signInForm.get('password')?.dirty">
                                <small *ngIf="signInForm.get('password')?.getError('required')">Este campo es
                                    requerido</small>
                            </div>
                            <p-button label="Recuperar Contraseña" [link]="true" class="self-end" (onClick)="visibleDialogpassword=true" />

                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p-button label="Iniciar Sessión" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<p-dialog header="Recupera tu contraseña" [modal]="true" [(visible)]="visibleDialogpassword" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Inserta tu correo electronico, si esta registrado, revisa tu bandeja de entrada, para restablecer la contraseña.</span>
    <div class="flex flex-col gap-4 mb-4">
        <label for="username" class="font-semibold w-full">Correo electronico</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (onClick)="visibleDialogpassword=false"/>
        <p-button label="Recuperar" />
    </div>
</p-dialog>