<br>
<h1>Compra en linea</h1>
<br>
<div class="row wrap">
    <div class="column">
        <br-card >
        <h3>Metodo de envio</h3>
        <div class="row">
            <input type="radio" name="" id="">
            <img src="" alt="">
            <h5>Envio gratis</h5>
        </div>
        <div class="row">
            <input type="radio" name="" id="">
            <img src="" alt="">
            <h5>Recoje en tienda gratis</h5>
        </div>
        <div class="row">
            <input type="radio" name="" id="">
            <img src="" alt="">
            <h5>Entrega hoy</h5>
        </div>
        </br-card>
        <br-thumbnail-details></br-thumbnail-details>
    </div>
    <div class="column">
        <br-card>
        <h3>Tus datos</h3>
        <h5>Brayan Steven Vanegas Nuñez</h5>
        <h5>3006984536</h5>
        </br-card>
        <br-card>
        <h3>Dirección de domicilio</h3>
        <h5>Brayan Steven Vanegas Nuñez</h5>
        <h5>Cll 34 #94-143, jardin de lili, casa H7 Cali, Valle Del Cauca</h5>
        </br-card>
    </div>
</div>