.dialog{
    position:fixed;
    width:500px;
    height:100vh;
    z-index: 9999;
    top: 0;
    box-shadow: var(--card-bg-color) 3px 3px 10px;
    right: 0;
    background-color: var(--main-bg-color);
    overflow:scroll;
}.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--card-bg-color);
    opacity: 0.5;
}.content{
    padding: 20px;
}

@media screen and (max-width:500px) {
    .dialog{
        min-width: 300px;
        max-width: 500px;
        width: 100%;
    }
}