/*estructura*/
.card-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}.card{
    background-color: #DCEEEC;
    border:solid #179D8D 3px;
    max-width: 17rem;
    margin-bottom: 10px;
    border-radius: 20px;
}.card-img{
    width: 15rem;
    border-radius: 17px;
    margin: 10px;
}.card-body{
    text-align: center;
}.card-title{
    color: #179D8D;
    text-transform: uppercase;
}.card-text{
    color: #179D8D;
}

.brand{
    width: 160px;
}

.categorias{
    text-align: center;
}
.altura-post{
    height: 420px;
}
.columna{

    align-items: center;
    flex: 1
}
.filtro{
    flex: 2;
}

/*elementos*/
.motto{
    max-width: 800px;
}.icon{
    width: 30px;
    height: 30px;
}