.column{
    display: flex;
    flex-direction: column;
}
.fluid{
    display: flex;
    flex-direction: row;
}
.centre{
    justify-content: center;
}
.center{
    text-align: center;
}
.title{
    color: #6B3382;
    font-weight: bold;
}
.log{
    width: 160px;
}

h1{
    font: bolder;
}
.centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.categorias{
    text-align: center;
}
.altura-post{
    height: 420px;
}
.columna{

    align-items: center;
    flex: 1
}
.filtro{
    flex: 2;
}
