/*estructura*/
.card-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}.card{
    border:solid #179D8D 3px;
    width: auto;
    border-radius: 20px;
    background-color: #dceeec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.card-img{
    width: 200px;
    height: 308px;
    border-radius: 17px;
    margin: 15px 12px 12px 12px;
    transition: transform 0.3s ease;
}.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}.card-title{
    color: #179D8D;
    text-transform: uppercase;
    max-width: 220px;

}.card-text{
    color: #179D8D;
    max-width: 220px;
    font-size: small;
}.category{
    flex-wrap: wrap;
}.card-img:hover{

    transform: scale(1.09);
    z-index: 1;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.aling-vertical{
    display: flex;
    align-items: center;
}

/*elementos*/
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motto{
    max-width: 800px;
}.icon{
    width: 30px;
    height: 30px;
}.brand{
    width: 160px;
    
}