<div class="introduction">
    <img class="brand " src="../../../assets/logo.png" alt="">
    <h1 class="motto txt-center txt-cyan">Desde libros de ocio hasta libros educativos, encuentra tu libro aquí en
        SellBook</h1>
    <p class="txt-cyan">Compra tus libros favoritos en sellbook.com y recibe en la puerta de tu casa</p>
</div>

<div class="aling-vertical">
    <img class="icon me-1" src="../../../assets/recent.svg" alt="">
    <h2 class="txt-cyan">Agregados Recientemente</h2>
</div>
<div class="mb-5">
    <br-thumbnail [items]="bookPreviewList" scrollable="true"></br-thumbnail>
</div>
<div class="aling-vertical">
    <img class="icon me-1" src="../../../assets/category.svg" alt="">
    <h2 class="txt-cyan">Categorias</h2>
</div>

<div class="categories  mb-5">
    <button type="button" brButton *ngFor="let category of categories"
        (click)="goSearchingByCategory(category.id)">{{category.name}}</button>
</div>