<div class="p-4">
    <p-steps [activeIndex]="active" [model]="steps" />
    <h1>Escribe tu correo para iniciar la compra</h1>

                            
                            <div>
                                <p-dataview #dv [value]="items">
                                    <ng-template #header>
                                        <div class="flex justify-start">
                                            <ng-content></ng-content>
                                        </div>
                                    </ng-template>
                                    <ng-template #list let-items>
                                        <div class="grid grid-cols-12 gap-4 grid-nogutter">
                                            <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
                                                <div
                                                    class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                                                    [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                                                >
                                                    <div class="md:w-40 relative">
                                                        <img
                                                            class="block xl:block mx-auto rounded-border w-full image"
                                                            [src]=" item.image"
                                                            [alt]="item.name"
                                                            (error)="item.image=''"
                                                        />
                                                    </div>
                                                    <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                                                        <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                                            <div>
                                                                <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.title }}</div>
                                                            </div>
                                                            <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                                                <div
                                                                    class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                                                    style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                                                >
                                                                    <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">{{
                                                                        item.units
                                                                    }}</span>
                                                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex flex-col md:items-end gap-8">
                                                            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">
                                                                $ {{item.cost| number:item.cost.toString().length+'.2-2'}} COP
                                                            </span>
                                                            <div class="flex flex-row-reverse md:flex-row gap-2">
                                                                <p-button icon="pi pi-heart" [outlined]="true" />
                                                                <p-button
                                                                    icon="pi pi-shopping-cart"
                                                                    class="flex-auto md:flex-initial whitespace-nowrap"
                                                                    label="Buy Now"
                                                                    [disabled]="item.units === '0'"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dataview>
                            </div>
                            <div class="flex flex-col gap-2 flex-1">
                                <label for="templatedisplay" class="font-bold block mb-2">Correo Electronico</label>
                                <p-inputgroup>
                                    <p-inputgroup-addon>
                                        <i class="pi pi-user"></i>
                                    </p-inputgroup-addon>
                                    <input pInputText [(ngModel)]="email" placeholder="example@mail.com" />
                                </p-inputgroup>
                                <!-- <div
                                    *ngIf="signInForm.get('mail')?.invalid&&signInForm.get('mail')?.touched||signInForm.get('mail')?.dirty">
                                    <small *ngIf="signInForm.get('mail')?.getError('required')">Este campo es
                                        requerido</small>
                                    <small *ngIf="signInForm.get('mail')?.getError('email')">El correo es invalido</small>
                                    <small *ngIf="signInForm.get('mail')?.getError('maxlength')">Debe ser menos de
                                        32caracteres</small>
                                </div> -->
                            </div>
                            <p-accordion value="0">
                                <p-accordion-panel value="0">
                                    <p-accordion-header>
                                        <div class="flex flex-col">
                                            <p>Tus datos</p>
                                            <p>Correo</p>
                                            <p>Nombre</p>
                                            <p>Telefono</p>
                                        </div>
                                    </p-accordion-header>
                                    <p-accordion-content>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Correo electronico</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Nombres</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Apellidos</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Telefono celular</label>
                                        </p-floatlabel>
                                        <p-button label="Continuar" />
                                    </p-accordion-content>
                                </p-accordion-panel>
                            
                                <p-accordion-panel value="1">
                                    <p-accordion-header>
                                        <div class="flex flex-col">
                                            <p>Dirección de envio</p>
                                            <div class="flex">
                                            <p>Nombre</p>
                                            </div>
                                            <div class="flex">
                                                <p>direccion</p>
                                            <p>ciudad</p>
                                            <p>Departamento</p>

                                            </div>
                                        </div>
                                    </p-accordion-header>
                                    <p-accordion-content>
                                        <h1>Selecciona una dirección</h1>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Etiqueta</label>
                                        </p-floatlabel>
                                        <p-floatlabel class="w-full md:w-56" variant="on">
                                            <p-select inputId="on_label" [options]="['cities']" optionLabel="name" styleClass="w-full" />
                                            <label for="on_label">Tipo</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Numero</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Nombres</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Apellidos</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Telefono celular</label>
                                        </p-floatlabel>
                                        <p-floatlabel class="w-full md:w-56" variant="on">
                                            <p-select inputId="on_label" [options]="['cities']" optionLabel="name" styleClass="w-full" />
                                            <label for="on_label">Departamento</label>
                                        </p-floatlabel>
                                        <p-floatlabel class="w-full md:w-56" variant="on">
                                            <p-select inputId="on_label" [options]="['cities']" optionLabel="name" styleClass="w-full" />
                                            <label for="on_label">Ciudad</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Dirección, Edificio / Apartamento</label>
                                        </p-floatlabel>
                                        <p-floatlabel variant="on">
                                            <input pInputText id="on_label" [(ngModel)]="email" autocomplete="off" />
                                            <label for="on_label">Barrio</label>
                                        </p-floatlabel>
                                        <p-button label="Continuar" />

                                    </p-accordion-content>
                                </p-accordion-panel>
                            
                                <p-accordion-panel value="2">
                                    <p-accordion-header>
                                        <div class="flex flex-col">
                                            <p>Metodo de envio</p>
                                            <div class="flex">
                                                <p>direccion</p>
                                            <p>ciudad</p>
                                            <p>Departamento</p>

                                            </div>
                                            <div class="flex">
                                            <p>fecha de envio</p>
                                            tag del metodo y otro de gration o el costo
                                            </div>
                                   
                                        </div>
                                    </p-accordion-header>
                                    <p-accordion-content>
                                        <h1>Metodo de envio</h1>
                                        <div class="flex items-center">
                                            <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="delivery" inputId="ingredient1" />
                                            <i class="pi pi-shop" style="font-size: 1.5rem"></i>
                                            <label for="ingredient1" class="ml-2">Recoje en tienda gratis</label>
                                        </div>
                                        <div class="flex items-center">
                                            <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="delivery" inputId="ingredient1" />
                                            <i class="pi pi-truck" style="font-size: 1.5rem"></i>
                                            <label for="ingredient1" class="ml-2">Envio gratis</label>
                                        </div>
                                        <div class="flex items-center">
                                            <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="delivery" inputId="ingredient1" />
                                            <i class="pi pi-calendar-clock" style="font-size: 1.5rem"></i>
                                            <label for="ingredient1" class="ml-2">Entrega hoy</label>
                                        </div>
                                        <p-button label="Continuar" />

                                    </p-accordion-content>
                                </p-accordion-panel>
                                <p-accordion-panel value="2">
                                    <p-accordion-header>Forma de pago</p-accordion-header>
                                    <p-accordion-content>
                                        
                                    </p-accordion-content>
                                </p-accordion-panel>
                                <p-accordion-panel value="2">
                                    <p-accordion-header>Revision y aprobacion</p-accordion-header>
                                    <p-accordion-content>
                                        
                                    </p-accordion-content>
                                </p-accordion-panel>
                            </p-accordion>
                            
                        </div>