@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 20px;

}