<h1>Yo no vengo a decir un discurso</h1>
<div class="fila">
    <div class="columna me-10">
        <img class="img-libro" src="https://libreriadelau.vtexassets.com/arquivos/ids/34337477-800-auto?v=638419022738330000&width=800&height=auto&aspect=true" alt="">
    </div>
    <div class="card">
      <div class="columna tarjeta">
        <div class="fila mb-5">
          <div class="columna me-5">
            <div>
              <h2>Autor:</h2>
              <p class="ms-4">Gabriel García Márquez</p>
          </div>
          <div>
              <h2>Editorial:</h2>
              <p class="ms-4">Penguin Random House</p>
          </div>
          </div>
          <div class="espacio"></div>
          <div class="columna ">
              <div class="ajustar-derecha">
                <img class="img-envio-gratis" src="../../../assets/envio-gratis.png" alt="">
              </div>
          </div>
        </div>
        <div class="ajustar-derecha">
          <P class="p-costo">$42.000 COP</P>
          <div class="fila">
            <div class="fila me-5">
              <button class="btn btn-danger btn-unidades">-</button>
              <div class="card div-unidades ms-1 me-1">
                <p class="p-unidades">1</p>            
              </div>
              <button class="btn btn-danger btn-unidades">+</button>
            </div>
            <button class="btn btn-primary btn-compra">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket me-2"
                viewBox="0 0 16 16">
                <path
                  d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5" />
              </svg>
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
<hr>
<h1>Información completa</h1>
<div>
    <div class="fila">
        <p class="p-info me-2">ISBX:</p>
        <p>9786287641488</p>
    </div>
    <div class="fila">
        <p class="p-info me-2">Titulo:</p>
        <p>Yo no vengo a decir un discurso</p>
    </div>
    <div class="fila">
        <p class="p-info me-2">Autor</p>
        <p>Gabriel García Márquez</p>
    </div>
    <div class="fila">
        <p class="p-info me-2">Editorial:</p>
        <p>Penguin Random House</p>
    </div>
    <div class="fila">
        <p class="p-info me-2">Año publicado:</p>
        <p>2024</p>
    </div>
    <div class="fila">
        <p class="p-info me-2">Categoria:</p>
        <p>Literatura</p>
    </div>


</div>

<hr>

<div>
    <h1>Más de Gabriel García Márquez...</h1>
    <div class="row">
    <div class="centro mb-5" style="margin-top: 30px;">
        <div class="card" style="width: 18rem; margin-bottom: 20px;">
          <img src="https://libreriadelau.vtexassets.com/arquivos/ids/34337477-800-auto?v=638419022738330000&width=800&height=auto&aspect=true" class="card-img-top img-mas-del-autor" alt="...">
          <div class="card-body">
            <h5 class="card-title p-info-libros">Yo no vengo a decir un discurso</h5>
            <p class="card-text p-info-libros">$42.000 COP</p>
            <p class="card-text p-info-libros">Gabriel García Márquez</p>
            <div class="centrar">
              <button class="btn btn-primary centrar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket me-2"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5" />
                </svg>
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>