.accordion{
    max-width: 400px;
    width: 100%;
    visibility: visible;
    height: 92.5vh;
    overflow-y: scroll;
    position: sticky;
    top: 68px;
    z-index: 988;
    border-right: solid 1px rgb(211, 211, 211);
}

.accordion-drawer{
    max-width: 400px;
    width: 100%;
    visibility: visible;
    height: 92.5vh;
    overflow-y: scroll;
    z-index: 988;
    border-right: solid 1px rgb(211, 211, 211);
}


::ng-deep input {
    width: 100%;
}


