<div class="{{scrollClass}}">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="row">
                    <img class="card-img"  src="https://libreriadelau.vtexassets.com/arquivos/ids/25667120-1200-auto?v=637880555527770000&width=1200&height=auto&aspect=true" alt="...">
                    <div class="column">
                        <h5 class="card-title">Codigo: 9789585155510</h5>
                        <h5 class="card-title">Lujuria (Libro 1) - Pecados placenteros 3</h5>
                        <P class="card-text"> Autor: Eva Muñoz</P>
                    </div>
                    <div class="column">
                        <h5 class="card-title txt-bold">$55,300.00 COP</h5>
                        <h5 class="card-title txt-bold">cantidad:</h5>
                        <div class="row units">
                            <button brButton >
                                <img src="../../../assets/less.svg" alt="">
                              </button>
                              <h5 class="card-title" >4</h5>
                              <button brButton >
                                <img src="../../../assets/more.svg" alt="">
                              </button>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <img class="card-img"  src="https://libreriadelau.vtexassets.com/arquivos/ids/25667120-1200-auto?v=637880555527770000&width=1200&height=auto&aspect=true" alt="...">
                    <div class="column">
                        <h5 class="card-title">Codigo: 9789585155510</h5>
                        <h5 class="card-title">Lujuria (Libro 1) - Pecados placenteros 3</h5>
                        <P class="card-text"> Autor: Eva Muñoz</P>
                    </div>
                    <div class="column">
                        <h5 class="card-title txt-bold">$55,300.00 COP</h5>
                        <h5 class="card-title txt-bold">cantidad:</h5>
                        <div class="row units">
                            <button brButton >
                                <img src="../../../assets/less.svg" alt="">
                              </button>
                              <h5 class="card-title" >4</h5>
                              <button brButton >
                                <img src="../../../assets/more.svg" alt="">
                              </button>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
